<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">


<properties>

      <property name="basepath" >./logs</property>
   
</properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="File" fileName="${basepath}/automation.log" filePattern="${basepath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <SizeBasedTriggeringPolicy size="50000"/>
        </RollingFile>
     </Appenders>

    <Loggers>      
         <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
